{% extends 'base.html' %}

{% block title%}
Home Page
{% endblock %}

{% block content %}
    <main style="width: 100%;max-width: 750px;padding: 15px;margin: auto;" class="bg-warning p-4 rounded-3">
        <div class="p-1">
            <h1 class="display-5 fw-bold">Crypto currency News</h1>
            <p class="fs-4">
                The project should analyze the news page of the coin, the name of which was transmitted through the input on the web page. Then all the paragraphs are added to the database and display the summarized paragraphs using the hugging face on the website page.
            </p>
            <a href="/login" class="btn btn-dark btn-lg text-warning">Learn More</a>
        </div>
    </main>
{% endblock %}